* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    text-align: justify
}

.fullBody {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.criteria {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 100%; 
    height: 100%;
    background-color: rgb(191, 188, 188);
}

.criteria .image {
    flex: 0 0 auto; 
    margin-right: 20px;
}

.criteria .content {
    flex: 1; 
}

.criteria img {
    max-width: 100%; 
    height: auto;
}

.tab{
    padding-left: 30px; 
}
.size{
    margin-top: 30px;
    margin-left: 70px;
    max-width: 800px;
}

.flex-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



