* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    text-align: justify
}

.fullBody {
    display: flex;
    text-align: justify;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.criteria {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(191, 188, 188);
    width: 56%;
    height: 82%;
    padding:50px ;
    border-radius: 10px;
    margin-bottom: 10%;
    margin: 8%;

}

.criteria p{
    font-size: 20px
}

.criteria h1{
 align-items: center;
 margin-bottom: 5%;
 font-size: 40px;
}

.criteria img {
    max-width: 100%; 
    height: auto;
}

.tab{
    padding-left: 30px; 
}
.size{
    margin-top: 30px;
    margin-left: 70px;
    max-width: 800px;
}

.flex-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



