@media screen and (max-width: 1326px) {
    .img-thumbsup {
        display: none;
    }

    .drop-receiving {
        display: none;
    }
}

.is-none {
    display: flex;
}

@media screen and (max-width: 1120px) {

    .cards-set,
    .compatibility-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 400px;
        height: 400px;
    }

    .cards-set {
        gap: 30px;
    }

    .footer-img {
        display: none;
    }

    .fullBody {
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 180vh; 
    }
    .criteria {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .size {
        margin-top: 30px;
        margin-right: 40px;
        margin-left: 70px;
        max-width: 800px;
    }
}

@media screen and (max-width: 801px) {

    .header__hamburguer {
        display: block;
    }

    .is-none {
        display: none;
    }

    .header-config {
        justify-content: space-between;
        width: 100%;
    }

    .header-content {
        display: block;
    }

    .nav-list {
        flex-direction: column;
    }

    .modal-height {
        height: 270px;
    }

    .perfil-nav {
        justify-content: center;
    }

    .perfil-nav button {
        margin: 0;
        margin-top: 30px;
        background-color: transparent;
        font-weight: 400;
        border: none;
        padding: 0;
        border-radius: 0;
        width: auto;
        text-shadow: none;
    }

    .perfil-nav a {
        margin-top: 30px;
    }

    .perfil-nav button:hover {
        box-shadow: none;
    }

    .col {
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 300px;
    }

    .criteria img {
        width: 30vw;
    }

    .content p {
        font-size: 17px
    }

    .criteria {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .size {
        margin-top: 30px;
        margin-right: 40px;
        margin-left: 70px;
        max-width: 800px;
    }

    .fullBody {
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 180vh; 
    }
    .h1{
        margin-right: 40px;
        margin-left: 30px;
    }

}

@media screen and (max-width: 567px) {
    .card {
        width: 300px;
    }

    .criteria img {
        display: none;
    }

    .content p {
        font-size: 17px
    }

    .criteria {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .size {
        margin-top: 30px;
        margin-right: 40px;
        margin-left: 70px;
        max-width: 800px;
    }
    .h1{
        margin-right: 40px;
        margin-left: 30px;
    }
    .fullBody {
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 180vh; 
    }
    .table{
        margin-left: 36px;
    }
}