@media screen and (max-width: 1326px) {
    .img-joinha {
        display: none;
    }
    .gota-recebendo{
        display: none;
    }
}

.is-none {
    display: flex;
}

@media screen and (max-width: 1120px) {
    .conjunto-cards,
    .bloco-compatiblidade
     {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 400px;
        height: 400px;
    }

    .conjunto-cards {
        gap: 30px;
    }

    .footer-img {
        display: none;
    }
}

@media screen and (max-width: 801px) {
    .header__hamburguer {
        display: block;
    }

    .is-none {
        display: none;
    }

    .header-config {
        justify-content: space-between;
        width: 100%;
    }

    .header-conteudo {
        display: block;
    }

    .nav-list {
        flex-direction: column;
    }

    .modal-height {
        height: 270px;
    }

    .perfil-nav {
        justify-content: center;
    }

    .perfil-nav button {
        margin: 0;
        margin-top: 30px;
        background-color: transparent;
        font-weight: 400;
        border: none;
        padding: 0;
        border-radius: 0;
        width: auto;
        text-shadow: none;
    }

    .perfil-nav a {
        margin-top: 30px;
    }

    .perfil-nav button:hover {
        box-shadow: none;
    }
}

@media screen and (max-width: 567px){
    .card {
        width: 300px;
    }

.criteria img{
    display: none;
}

.content p{
    font-size: 17px

}

.criteria{
    width: 100%;
    height: 100%;
}
 
} 

