@keyframes scaleUp {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.01);
    }
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #f3f3f3;
}

.main__header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: rgb(218, 17, 17);
    color: #fafafa;
}

.main__content {
    margin-top: 25px;
}

.container {
    width: 90%;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    align-items: center;
    font-weight: 500;
}

.header-perfil {
    display: none;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#perfil-title {
    margin-left: 15px;
    color: #fafafa;
}

.flex {
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
}

.nav-list {
    list-style-type: none;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
}

.perfil-nav button {
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 16px;
    font-weight: bolder;
    background-color: rgb(218, 17, 17);
    color: #fafafa;
    border: solid 2px brown;
    padding: 6px;
    border-radius: 10px;
    width: 81px;
    text-shadow: 0px 6px 14px -6px #070707;
}

.perfil-nav button:hover {
    box-shadow: 0px 6px 14px -6px #070707;
}

.logo-img {
    width: 30px;
}

.perfil-img {
    width: 36px;
    border: solid #fafafa 1px;
    border-radius: 50%;
    background-color: #fafafa;
    cursor: default;
}

.banner img {
    width: 100vw;
}

.img-thumbsup {
    visibility: hidden;
}

.nav-list a,
.header-perfil>a {
    text-decoration: none;
    color: #fafafa;
}

.nav-item:hover {
    animation: scaleUp 0.2s forwards;
    cursor: pointer;
}

.content-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    visibility: hidden;
    
}

.content-box-1 {
    margin: 50px 0 50px 0;
}

.cards-set {
    visibility: hidden;
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
}

.card {
    width: 300px;
    display: flex;
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 1px 10px #999999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card>h3 {
    text-align: center;
}

.card-1 img {
    width: 150px;
}

.card-1 .content-title {
    margin-bottom: 25px;
}

.card-1 p {
    margin-top: 20px;
}

.card-2 .content-title {
    margin-bottom: 25px;
}

.card-2 img {
    width: 150px;
}

.card-2 p {
    margin-top: 20px;
}

.content-title {
    visibility: hidden;
    font-size: 30px;
    text-align: center;
}

.content-img {
    width: 280px;
}

.footer {
    width: 100%;
    visibility: hidden;
    background-color: rgb(194, 189, 189);
    padding: 5px;
}

.footer>div {
    margin: auto;
    justify-content: space-between;
}

.footer-img {
    width: 300px;
}

.footer-icon {
    width: 50px;
}

.footer-icon-2 {
    width: 42px;
}

.footer-medias div {
    align-items: center;
}

.footer-contents {
    padding-top: 43px;
}

.footer-contents>h3 {
    font-size: 35px;
}

.footer-contents>p {
    font-size: 20px;
}

.container-2 {
    width: 300px;
}

.container-4 {
    width: 400px;
}

.drop-receiving{
    visibility: hidden;
    width: 22vw;
}

.table {
    visibility: hidden;
    width: 90%;
    margin-bottom: 20px;
}

.container-3 {
    width: 1200px;
    margin: auto;
}

.space {
    margin: 20px 0 50px 0;
}

.compatibility-block>img,
.compatibility-block>div {
    margin-top: -10%;
}

.margin {
    margin: auto;
}

.text-size {
    max-width: 800px;
}

.header__hamburguer {
    width: 28px;
    cursor: pointer;
    display: none;
}
