*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.main__header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: rgb(228, 15, 15);
    color: white;

}
.container{
    width: 90%;
    justify-content: space-around;
    align-items: center;
}
.header-logo,.header-perfil{
    align-items: center;
}

.flex{
    display: flex;

}
.nav-list{
    list-style-type: none;
    width: 350px;
    justify-content: space-between;
}
.logo-img, .perfil-img{
    width: 35px;
}
.banner img{
    max-width:1349px;
}
a{
    text-decoration: none;
    color: white;

}
.conteudo-box{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conteudo-title{
    font-size: 30px;
}
.conteudo-img{
    width: 280px;
}