
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../img/Blooddonation-pana.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-color: #D14A4A;
}

.rightRegistration {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    width: 50%; 
    height: 100%; 
    padding: 20px; 
}

.cardRegistration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%; 
    min-height: 80%; 
    padding: 30px 36px;
    background: rgba(217, 217, 217, 0.6); 
    border-radius: 10px;
    box-shadow: 0px 10px 40px #000;
    overflow-y: auto;
}

.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 2px 0;
    height: 13.5vh;
}

.field>input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin-top: 2px; 
    margin-bottom: 10px;
    padding: 13px;
    background: rgba(217, 217, 217, 0.6);
    color: #000;
    font-size: 12pt;
    box-sizing: border-box;
}

.field>select {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding: 13px;
    background: rgba(217, 217, 217, 0.6);
    color: #000;
    font-size: 12pt;
    box-shadow: 0;
    margin-top: 2px; 
    margin-bottom: 10px; 
}

.field>label {
    color: #000;
    margin-top: 20px;
    margin-bottom: 2px;
}

.registration {
    color: #000;
    font-size: 32px;
    text-shadow: 2px 2px 4px rgba(252, 5, 5, 0.5);
    margin: 0px;
    margin-bottom: 30px;
}

p {
    display: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.btnRegistration {
    width: 50%;
    border-radius: 10px;
    font-weight: bolder;
    border: none;
    background: #ff0000;
    color: #fff;
    cursor: pointer;
    height: 4vh;
    margin: 10px;
    margin-top: 18px;
    padding: 6px 0;
}

.btnRegistration:hover {
    box-shadow: 0px 6px 14px -6px #070707;
}

.erro input {
    border-color: #ff0000;
}

.erro p {
    margin: 6px;
    font-size: 13px;
    color: #ff0000;
    visibility: visible;
}

.extra-label {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 99%;
    margin-top: 20px;
    margin-bottom: 2px;
}

#eye {
    background: url(../img/eye-closed.png);
    background-size: 1.2vw 1.6vh;
    background-repeat: no-repeat;
    border: none;
    width: 1.2vw;
    height: 1.6vh;
}

#eye:hover {
    cursor: pointer;
}

.edit {
    background: url(../img/edit.png);
    background-size: 1.2vw 2.4vh;
    background-repeat: no-repeat;
    border: none;
    width: 1.2vw;
    height: 2.4vh;
}

.edit:hover {
    cursor: pointer;
}

#pass-edit button {
    margin-left: 12px;
}

@media (orientation: portrait) {
    #eye {
        background-size: 2.4vw 1.6vh;
        width: 2.4vw;
    }

    .edit {
        background-size: 1.8vw 1.6vh;
        width: 2.4vw;
    }
}

@media screen and (max-width: 768px) {
    .rightRegistration {
        width: 100%; 
        padding: 10px; 
    }

    .cardRegistration {
        width: 100%; 
    }

    #eye {
        background-size: 3.6vw 1.6vh;
        width: 3.6vw;
        height: 2.5vh;
    }

    .edit {
        background-size: 3.6vw 1.6vh;
        width: 3.6vw;
        height: 2.5vh;
    }
}
